@page
@model IndexModel
@{
    ViewData["Title"] = "FWI2 WebShop";
}

<div class="container text-center">
    <div class="row">
        <div class="col">
            <h2>Willkommen im FWI2 Webshop</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4 class="row">Zuletzt hinzugefüge Artikel</h4>
            <div class="d-flex row-cols-1 overflow-scroll" style="min-height:240px; max-height:240px; overflow-y: hidden !important;">
                @foreach(Artikel artikel in Model.LstArtikel)
                {
                <form class="col mx-auto p-2 flex-column h-100" method="post" style="min-width:190px; max-width:190px; height:100%" asp-page="/asuche" asp-page-handler="AddArtikel">
                    <div class="row">
                        <legend class="col">@artikel.Bezeichnung</legend>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="text-left">@artikel.Beschreibung</p>
                        </div>
                    </div>
                    @if (!string.IsNullOrEmpty(HttpContext.Session.GetString("lhash")))
                    {
                    <div class="row">
                        <div class="col">
                            <div class="vstack gap-1">
                                <div class="input-group">
                                    <label class="input-group-text" for="menge">Anzahl</label>
                                    <input class="form-control" type="number" id="menge" name="menge" value="0" min="1" max="9999" step="1" required />
                                </div>
                                <div class="input-group">
                                    <button class="btn btn-primary" type="submit">In den Warenkorb</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    }
                </form>
                }
            </div>
        </div>
    </div>
</div>