@page
@model WebShop.Pages.regModel
@{
}
<form method="post" class="row g-3" asp-page-handler="Reg">
    <div class="col-md-6">
        <div class="input-group">
            <label class="input-group-text" for="k_Vorname">Name</label>
            <input class="form-control" asp-for="k.Name" required />
        </div>
    </div>
    <div class="col-md-6">
        <div class="input-group">
            <label class="input-group-text" for="k_Vorname">Vorname</label>
            <input class="form-control" asp-for="k.Vorname" required />
        </div>
    </div>
    <div class="col-md-6">
        <div class="input-group">
            <label class="input-group-text" for="k_Adresse">Adresse</label>
            <input class="form-control" asp-for="k.Adresse" required />
        </div>
    </div>
    <div class="col-md-6">
        <div class="input-group">
        <label class="input-group-text" for="k_Geschlecht">Geschlecht</label>
            <select class="form-select" class="form-control" id="_Geschlecht" asp-for="k.Geschlecht" required>
                <option value="1">Männlich</option>
                <option value="2">Weiblich</option>
                <option value="3">Divers</option>
            </select>
        </div>
    </div>
    <div class="col-md-6">
        <div class="input-group">
            <label class="input-group-text" for="k_Email">E-mail</label>
            <input class="form-control" asp-for="k.Email" type="email" required />
        </div>
    </div>
    <div class="col-md-6">
        <div class="input-group">
            <label class="input-group-text" for="k_Pw">Passwort</label>
            <input class="form-control" asp-for="k.Pw" type="password" required />
        </div>
    </div>
    <div class="col">
        <div class="input-group">
            <label class="input-group-text" for="k_GebDat">Geburtstag</label>
            <input class="form-control" type="date" asp-for="k.GebDat" required />
        </div>
    </div>
    <div class="col">
        <button type="submit" class="btn btn-primary">Regestrieren</button>
        <button type="reset" class="btn btn-secondary">Zurücksetzen</button>
    </div>
</form>