<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebShop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebShop.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">WebShop</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item p-2">
                            <div class="dropdown" data-bs-display="static">
                            <form method="post" class="input-group" asp-page="/asuche" asp-page-handler="Suchen">
                                <input asp-route-suchb class="form-control" placeholder="Suche" name="suchb" id="suchb" type="text" />
                                <button type="submit" class="btn btn-primary">suchen</button>
                                </form>
                                <form method="post" class="input-group" asp-page="/asuche" asp-page-handler="Suchen">
                                    <fieldset></fieldset>
                                <ul class="dropdown-menu" name="artikel" id="artikel">
                                </ul>
                                </form>
                            </div>
                        </li>
                        @if (string.IsNullOrEmpty(Context.Session.GetString("lhash")))
                        {
                        <li class="nav-item p-2">
                            <form name="login" method="post" class="input-group" asp-page="/login" asp-page-handler="Login">
                                <input class="form-control" name="email" placeholder="E-mail" type="email" asp-route-email />
                                <input class="form-control" name="passwort" placeholder="Passwort" type="password" asp-route-passwort />
                                <button type="submit" class="btn btn-primary">Login</button>
                                <button type="submit" class="btn btn-secondary" asp-page="/reg">Registrieren</button>
                                </form>
                            </li>
                        }
                        else
                        {
                            int anzart = Bestellung.AnzArt(Int32.Parse(Context.Session.GetString("id")));
                            <li class="nav-item p-2">
                                <form name="logout" method="get" class="input-group" asp-area="" asp-page="/logout">
                                    <span class="input-group-text">@Kunde.Lesen(Int32.Parse(Context.Session.GetString("id"))).Email</span>
                                    <button type="submit" class="btn btn-secondary">Logout</button>
                                </form>
                            </li>
                            <li class="nav-item p-2">
                                <form name="Warenkorb" method="get" class="input-group" asp-area="" asp-page="/warenkorb">
                                    <button type="submit" class="btn">Warenkorb
                                    @if (anzart > 0)
                                    {
                                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                            @anzart
                                            <span class="visually-hidden">unread messages</span>
                                        </span>
                                    }
                                    </button>
                                </form>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/asuche.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>